@using UchetSI.ViewModels
@model SIViewModel

<form method="post">
   @* <p style="font-weight: 1000">
        <b>Наименование</b><br>
       *@
    <p style="font-weight: 600">
        <b>Тип, марка оборудования</b><br>
        @Html.DropDownListFor(model => model.DMI.TypeOfEquipmentId, ViewBag.TypeOfEquipmentsSL as SelectList, new {@class="form-select"})
@*         <input class="form-control" type="text" size="40" value="@ViewBag" >
          <input class="form-control" type="text" size="40" value="@ViewBag.SI.SerialNumber" >*@
    <p style="font-weight: 600">
        <b>Серийный номер</b><br>
        <input asp-for="MT.SerialNumber" class="form-control" type="text" size="40">
    <p style="font-weight: 600">
        <b>Номер паспорта</b><br>
        <input asp-for="MT.PassportNumber" class="form-control" type="text" size="40">
    <p style="font-weight: 600">
        <b>Дата выпуска</b><br>
        <input class="form-control" type="date" size="40" asp-for="MT.ReleaseDate" >
    <p style="font-weight: 600"><b>Шкала характеристик</b><br>
    <p style="margin-left:30px">
        Нижний предел<br>
        <input class="form-control" type="text" size="40" asp-for="ML.LowerLimit" >
    <p style="margin-left:30px">
        Верхний предел<br>
        <input class="form-control" type="text" size="40" asp-for="ML.UpperLimit">
    <p style="font-weight: 600">
        Единица измерения<br>
        @Html.DropDownListFor(model => model.DMI.UnitOfMeasurementId, ViewBag.UnitOfMeasurementSL as SelectList, new {@class="form-select"})
@*    <p style="font-weight: 600">
        <b>Состояние оборудования</b><br>
        <input class="form-control" type="text" size="40" value="@ViewBag.STAT.NameStatus" >
*@
    <p style="font-weight: 600">
        <b>Выходной сигнал</b><br>
         @Html.DropDownListFor(model => model.DMI.outputSignalId, ViewBag.OutputSignalSL as SelectList, new {@class="form-select"})
    <p style="font-weight: 600">
        <b>Межповерочный интервал</b><br>
         @Html.DropDownListFor(model => model.DMI.VerificationIntervalId, ViewBag.VerificationIntervalSL as SelectList, new {@class="form-select"})
         <p style="font-weight: 600">
        <b>Состояние средства измерения</b><br>
         @Html.DropDownListFor(model => model.MT.StatusOfMTId, ViewBag.StatusOfMT as SelectList, new {@class="form-select"})

         @*<input asp-for="DMI.Ou" type="text" class="window__parent-id" hidden value="" />*@


    <button type="submit" class="btn btn-primary" style="width:150px">Добавить</button>
    
</form>