@using UchetSI.ViewModels
@model SheduleViewModel
<div style="width:100%;">
    <form method="post" action="~/SheduleTO/CreateTO">
        <div class="d-inline-block" style="width:430px; margin-top: 20px;">
            <h6>Выберите организацию</h6>
            @Html.DropDownList("organization", ViewBag.Organization as SelectList, new {@class="form-select select-add-placeholder"})

        </div>

        <div class=" d-inline-block" style="width:430px;">
            <h6>Выберите подразделение</h6>
            @Html.DropDownList("division", ViewBag.Division as SelectList, new {@class="form-select select-add-placeholder"})
        </div>
        <div class=" d-inline-block" style="width:425px;">
            <h6>Выберите объект</h6>
            @Html.DropDownListFor(model => model.HTO.LocationId, ViewBag.Objects as SelectList, new {@class="form-select select-add-placeholder", id="objects"})
        </div>
        <div class=" d-inline-block" style="width:425px;">
            <h6>Введите год</h6>
            <input class="form-control" id="year" type="number" min="1900" max="2099" step="1" value="2022" asp-for="HTO.YearEvent" />
        </div>
        <div class="table-box" style="width:100%;">
            <table>
                <thead style="width:100%">
                <th colspan="12" style="text-align:center">Месяц</th>
                <tr>

                        @for (int i = 1; i < 13; i++)
                        {
                        <th style="width:200px;">
                                @i
                        </th>
                        }
                </tr>
                </thead>
                <tbody>
                <th colspan="12" style="text-align:center">Число</th>
                <tr>
                        @for (int i = 0; i < 12; i++)
                        {
                        <th>
                            <input id="day" class="form-control day" type="number" placeholder="От" size="40" oninput="this.value=this.value.replace (/\D/, '')" asp-for="STOList[i].PlanDataTOFrom">
                        </th>
                        }
                </tr>
                <tr>
                        @for (int i = 0; i < 12; i++)
                        {
                        <th>
                            <input  class="form-control day" type="number" placeholder="До" size="40" oninput="this.value=this.value.replace (/\D/, '')" asp-for="STOList[i].PlanDateTOTo">
                        </th>
                        }
                </tr>
                <tr>
                        @for (int i = 0; i < 12; i++)
                        {
                        <th>
                                @Html.DropDownListFor(model => model.STOList[i].TypeTOId, ViewBag.Types as SelectList, new {@class="form-select", style="padding:0"})
                        </th>
                        }
                </tr>


                </tbody>
            </table>

            <button type="submit" class="btn btn-primary" style="width:150px">Добавить</button>
    </form>

</div>
@section scripts{
<script type="text/javascript">

    let day = document.querySelectorAll(".day");
    let year = document.getElementById('year')

    day.forEach(e => {
        e.onkeyup=function(e){
             
        let value = parseInt(e.target.value);
        if(value > 31) {
            e.target.value = e.target.value.slice(0, -1);
        }
        }
    })
         
    



    year.onkeyup=function(e){
        var value = parseInt(e.target.value);
        if(value > 2100) {
            e.target.value = e.target.value.slice(0, -1);
        }
    }
    $(".select-add-placeholder").prepend("<option value='' disabled selected>Выберите</option>");

     let organizations = document.getElementById('organization');

                    organizations.addEventListener('change', () => {
                        $.ajax({
                                type: 'GET',
                                url: '@Url.Action("GetItem")/' + organizations.value,
                                success: function (data) {

                                    // заменяем содержимое присланным частичным представлением
                                     while (division.firstChild) {
                                        division.removeChild(division.firstChild);
                                    }

                                    $('#division').html(data)
                                   
                                }
                            });
                    })

                    let division = document.getElementById('division');
                    division.addEventListener('change', () => {
                        $.ajax({
                                type: 'GET',
                                url: '@Url.Action("GetItem")/' + division.value,
                                success: function (data) {

                                    // заменяем содержимое присланным частичным представлением
                                    while (objects.firstChild) {
                                        objects.removeChild(objects.firstChild);
                                    }

                                    $('#objects').html(data)

                                }
                            });
                    })
</script>
}
