@model IEnumerable<UchetSI.Data.Models.Position>
@{
    ViewData["Title"] = "GetPosition";
}
@{
    int i = 0;
}
@foreach (var pos in Model)
{
    <tr id="trPos" onmouseover="this.style.backgroundColor='#DDD'" onmouseout="this.style.backgroundColor='white'"
    onclick="location.href='@Url.Action("Index", "SI", new { idPosition = pos.Id })'">
        <td>
            @pos.NamePosition
        </td>
        @if (@pos.Paz == true)
        {
            <td>
                Да
            </td>
        }
        else
        {
            <td>
                Нет
            </td>
        }
        <td>
            @pos.NameParameter
        </td>
        <td>
            @ViewBag.SILIST[i].SerialNumber
        </td>
    </tr>
     i++;
}


